/* Project Hero – Same as About */
.project-hero {
    background-color: #ffffff;
    padding: 6rem 0;
}

/* Full height only on lg */
@media (min-width: 992px) {
    .project-hero {
        min-height: 70vh;
    }
}

.project-title {
    font-size: 4rem;
    color: #111;
}

.project-desc {
    max-width: 900px;
    font-size: 1.1rem;
    color: #5f6368;
    line-height: 1.8;
}

/* Responsive */
@media (max-width: 768px) {
    .project-title {
        font-size: 2.6rem;
    }
}

/* project item */
.project-card {
  background: #fff;
  border-radius: 20px;
  padding: 15px;
  border: 1px solid #e5e5e5;
  transition: all 0.3s ease;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.08);
}

.project-img {
  height: 260px;
  overflow: hidden;
  border-radius: 16px;
}

.project-img img {
  width: 100%;
  transition: transform 4s ease;
}

/* AUTO SCROLL ON HOVER */
.project-card:hover .project-img img {
  transform: translateY(-40%);
}

.project-item {
  cursor: pointer;
}


