/* Hero Section */
.hero-section {
    background-color: #ffffff;
    padding: 6rem 0;
}

/* Only LG & up = full screen height */
@media (min-width: 992px) {
    .hero-section {
        min-height: 100vh;
    }
}

.hero-title {
    font-size: 4rem;
    color: #111;
}

.hero-text {
    max-width: 750px;
    font-size: 1.1rem;
    color: #5f6368;
}


/* Image */
.hero-image-wrapper {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.hero-image {
    border-radius: 16px;
    width: 100%;
    object-fit: cover;
}

/* Responsive text */
@media (max-width: 768px) {
    .hero-title {
        font-size: 2.6rem;
    }
}
